@import 'tailwindcss';

@font-face {
  font-family: 'Lyon';
  src: url('/fonts/lyon.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fdfaf7;
  --foreground: #000000;
  --font-lyon: 'Lyon';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-cairo-sans);

  /* Custom breakpoints */
  --breakpoint-xs: 320px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
  --breakpoint-3xl: 1920px;
}
.font-lyon {
  font-family: var(--font-lyon);
}

body {
  background: var(--background);
  color: var(--foreground);
  height: auto;
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Start Animations */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideInFromTop {
  animation: slideInFromTop 600ms ease-out forwards;
}

.animate-slideInFromBottom {
  animation: slideInFromBottom 600ms ease-out forwards;
}

.animate-fadeIn {
  animation: fadeIn 500ms ease forwards;
}

.animate-slideInFromRight {
  animation: slideInFromRight 600ms ease-out forwards;
}
/* End Animations */

/* Start radio Button */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: fit-content;
  padding-right: 34px;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 23px;
  width: 23px;
  background-color: white;
  border: 3px solid #a0a0a0;
  border-radius: 50%;
  transition: transform 200ms ease; /* Add transition for smooth animation */
}

/* On mouse-over, add a grey background color and scale effect */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  transform: scale(0.9); /* Scale down to 90% on hover */
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #8775d6;
}
/* End radio Button */
